---
import './styles.css'
---

<div class='h-full'>
  <div class='game-details'>
    <span class='score text-sm font-light'>Puntaje: 0</span>
    <span class='high-score text-sm font-light'>Tu Record: 0</span>
  </div>
  <div class='h-full'>
    <div class='play-board'></div>
  </div>
  <div class='controls'>
    <i data-key='ArrowLeft' class='fa-solid fa-arrow-left-long'></i>
    <i data-key='ArrowUp' class='fa-solid fa-arrow-up-long'></i>
    <i data-key='ArrowRight' class='fa-solid fa-arrow-right-long'></i>
    <i data-key='ArrowDown' class='fa-solid fa-arrow-down-long'></i>
  </div>
</div>

<script src='./snake.js'></script>
