@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 1rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    /* --card-custom-bg: #000;
    --card-custom-text: #fff;
    --card-custom-border: #fff;
    --card-custom-shadow: #fff;
    --bg-card: #fff;
    --border-card: #000;
    --text-card: #000;
    --shadow-card: #767676; */
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 315, 39%, 48%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 0 0.43% 9.79%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.prose img {
  /*make markdown content image be center*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}

 /* .card-styled {
   border-image-source: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228%22%20height%3D%228%22%3E%3Cpath%20d%3D%22M3%201h1v1h-1zM4%201h1v1h-1zM2%202h1v1h-1zM5%202h1v1h-1zM1%203h1v1h-1zM6%203h1v1h-1zM1%204h1v1h-1zM6%204h1v1h-1zM2%205h1v1h-1zM5%205h1v1h-1zM3%206h1v1h-1zM4%206h1v1h-1z%22%20fill%3D%22black%22%2F%3E%3C%2Fsvg%3E"); 
  background-color: var(--card-custom-bg, var(--bg-card, #fff));
  border-color: var(--card-custom-border, var(--border-card, #000));
  border-image-outset: 2;
  border-image-repeat: stretch;
  border-image-slice: 3;
  border-image-width: 2;
  border-style: solid;
  box-shadow:
    2px 2px 0 2px var(--card-custom-shadow, var(--shadow-card, #000)),
    -2px -2px 0 2px var(--card-custom-bg, var(--bg-card, #fff));
  color: var(--card-custom-text, var(--text-card, #000));
   font-family: Minecraft, sans-serif; 
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0.5rem;
  padding: 1px;
}  */
